<div id="page_header">
  <div class="content">
  	<div id="logo_image">
  	  <%=image_tag("logo.png") %>
  	</div>
  	<div id="logo_ul">
	  <ul>
	  	<li><a href="#">柴凯龙</a></li>
	  	<li><a href="#">关于</a></li>
	  </ul>
  	</div>
  	<div class="clr"></div>
  </div>
</div>